<div class="flex justify-center mt-48 mb-48 container mx-auto">
  <div class="w-3/5 bg-white shadow-lg p-10">
   <h1 class="text-2xl font-bold border-b-2">Add new inventory</h1>
    <%= form_with model: @new_inventory, url: '/inventories' do |form| %>
      <br>
      <%= form.label :name, class: 'font-semibold pb-1 mt-4' %><br />
      <%= form.text_field :name, placeholder: 'Name of the inventory', class: 'py-2 px-4 border w-full focus:outline-orange-400' %>
      <br>
      <%= form.submit class: 'bg-orange-500 py-3 px-6 text-white cursor-pointer hover:bg-orange-700 mt-4' %>
    <% end %>
   </div>
</div>