<div class="home relative flex justify-center items-center">
  <div class="bg-white absolute w-1/3 p-10 text-center">
    <h1 class="text-4xl font-semibold">Welcome!</h1>
    <p class="text-xl italic mt-4">Let's start cooking with popular recipes.</p>
    <p></p>
  </div>
</div>