<div class="home relative flex justify-center items-center">
  <div class="bg-white absolute w-1/3 p-10 text-center">
    <h1 class="text-3xl font-semibold">Welcome to Meri's Recipe App</h1>
    <p></p>
  </div>
</div>