<div class="flex justify-center my-12">
  <div class="w-3/5 bg-white shadow-lg pb-10 px-10 pt-5">
    <div class="flex justify-start my-4">
      <%= link_to '< Foods', foods_path, class: 'text-gray-500' %>
    </div>
    <hr>
    <div class="mt-5">
      <div class="flex justify-between items-center mb-2">
        <p class="text-gray-500">Food:</p>
        <p class="text-lg"><%= @food.name %></p>
      </div>
      <div class="flex justify-between items-center mb-2">
        <p class="text-gray-500">Measurement unit:</p>
        <p class="text-lg"><%= @food.measurement_unit %></p>
      </div>
      <div class="flex justify-between items-center mb-2">
        <p class="text-gray-500">Price:</p>
        <p class="text-lg">$<%= @food.price %></p>
      </div>
    </div>
  </div>
</div>
